body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    height: 500px;
    min-width: 300px;
    width: 95%;
    background-color: bisque;
}



@media screen and (min-width:768px){
    main{
        width:85%
    }
}

@media screen and (min-width:992px){
    main{
        width:70%
    }
}